<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>СОА Лабораторная №2</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-table.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>
<div id="app" class="pl-5 pr-5">
    <h1 class="col-xs-1 text-center">Increase/Decrease difficulty of labwork</h1>
    <div>
        <label for="id">Labwork Id</label>
        <input id="id" type="text" maxlength="256" v-model="id">
    </div>
    <div>
        <label for="steps">Number of steps</label>
        <input id="steps" type="text" maxlength="256" v-model="steps">
    </div>
    <button class="btn btn-info" v-on:click="increase()" type="submit">Increase</button>
    <button class="btn btn-info" v-on:click="decrease()" type="submit">Decrease</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3/dist/vue-resource.js"></script>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data: function(){
            return {
                id: '',
                steps: ''
            }
        },
        methods: {
            increase: function() {
                this.$http.put(
                    '/bars/labwork/' + this.id + '/difficulty/increase/' + this.steps
                ).then(
                    (response) => {
                    },
                    (error) => {
                        if (error.status == 403 || error.status == 0) {
                        }
                    }
                );
            },
            decrease: function() {
                this.$http.put(
                    '/bars/labwork/' + this.id + '/difficulty/decrease/' + this.steps
                ).then(
                    (response) => {
                    },
                    (error) => {
                        if (error.status == 403 || error.status == 0) {
                        }
                    }
                );
            }
        }
    })
</script>
</body>

</html>